/dist/
/node_modules/
!/.eslintrc.js 
.gitignore
.gitmodules
.editorconfig
.travis.yml
.npmignore
.npmrc
!.lintstagedrc.js
postcss.config.cjs
tsconfig.json
tsconfig.node.json
tsconfig.app.json
.stylelintrc.json
.stylelintignore
eslint.config.js.bac
commitlint.config.js
lint-staged.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
pnpmfile.cjs
package.json
README.md
CHANGELOG.md
.huskyrc.json
.husky/
.vscode/
.idea/
.git/
.github