#- 启用工作区包链接 ：允许工作区内的包（packages）相互引用和依赖
# 自动链接 ：当一个包依赖于工作区中的另一个包时，pnpm 会自动创建符号链接，而不是从 npm 仓库下载 
link-workspace-packages=true
# hoisted - 创建一个没有符号链接的扁平的 node_modules。 与 npm 或 Yarn Classic 创建的 node_modules 一致。 当使用此设置时，Yarn 的一个库用于提升。 使用此设置的正当理由：
# 你的工具无法很好地与符号链接配合使用。 React Native 项目很可能只有在你使用提升的 node_modules 才能工作。

node-linker=hoisted
electron_mirror="https://npmmirror.com/mirrors/electron/"